<div class="container">
	<div class="row m-3">
		<h2 class="display-4">Habilidades</h2>
	</div>
</div>

<div class="container rounded p-4">
	
	<div class="row m-3">
		<h3 class="display-5">Lista de habilidades</h3>
	</div>
	
	<table class="table table-hover">
	<thead>
	  
		    <tr class="table-active">
				<th scope="col">
					Habilidad
				</th>
				<th scope="col">
					Descripción
				</th>
		    </tr>
	  </thead>
	  <tbody>
	  
		    <tr>
		    	<!-- scope="row" en un th indica el indice de la fila -->
				<tr th:each="habilidad:${habilidades}">
					<td th:text="${habilidad.nombre}"/>
					<td th:text="${habilidad.descripcion}"/>
				</tr>
		    </tr>
	    
		</tbody>
	</table>
	<br/>
	<form action="/habilidad/c">
		<input type="submit" class="btn btn-success btn-sm" value="Nueva habilidad"/>
	</form>
</div>