<div class="container">
	<div class="row m-3">
		<h2 class="display-4">Resgístrate</h2>
	</div>
</div>	

<div class="container rounded p-4">
	
	<div class="row m-3">
		<h3 class="display-5">Nuevo usuario</h3>
		<input type="button" value="Plantilla nuevo usuario" id="plantilla">
	</div>
	
	<form onsubmit="return validar();" action="/usuario/c" method="POST">
		<div class="mb-3">
			<label id="01" for="idNombre" class="form-label disabled">Nombre</label>
			<input type="text" class="form-control" name="nombre" id="idNombre" required="required">
		</div>
		
		<div class="mb-3">
			<label for="idApe1" class="form-label disabled">Primer apellido</label>
			<input type="text" class="form-control" name="apellido1" id="idApe1" required="required">
		</div>
		
		<div class="mb-3">
			<label for="idApe2" class="form-label disabled">Segundo apellido</label>
			<input type="text" class="form-control" name="apellido2" id="idApe2">
		</div>
		
		<div class="mb-3">
			
			<label for="idTlf" class="form-label disabled">Teléfono (móvil)</label>
			<div style="color:red" id="divtlf"></div>
			<input type="text" class="form-control" name="telefono" id="idTlf" required="required">
			
		</div>
		
		<div class="mb-3">
			<label for="idEmail" class="form-label disabled">Email</label>
			<div style="color:red" id="divemail"></div>
			<input type="text" class="form-control" name="email" id="idEmail">
			
		</div>
		
		<div class="mb-3">
			<label for="idPass" class="form-label disabled">Contraseña</label>
			<div style="color:red" id="divpass"></div>
			<input type="password" class="form-control" name="password" id="idPass">
			
		</div>
		<div class="mb-3">
			<label for="idPassConfirm" class="form-label disabled">Confirmar Contraseña</label>
			<div style="color:red" id="divpassConfirm"></div>
			<input type="password" class="form-control" name="passwordConfirm" id="idPassConfirm">
			
			
		</div>
		
		
		<fieldset>
		<legend>Habilidades</legend>
		<div class="mb-3 row">
			<div class="mr-2" th:each="habilidad:${habilidades}">
				<input type="checkbox" name="idsHabilidadesSabe[]" th:value="${habilidad.id}" th:id="|id-${habilidad.id}-habilidad|"/>
				<label th:for="|id-${habilidad.id}-habilidad|" th:text="${habilidad.nombre}"/>
			</div>
		</div>
		</fieldset>
		
		
		<!--<div class="mb-3">
			<label class="form-label disabled">¿Admin?</label>
			</br>
		
			<input type="radio" name="admin" id="adminTrue" value="true">
			<label for="adminTrue" class="disabled">Si</label>
			
			</br>
			
			<input type="radio"  name="admin" id="adminFalse" value="false" checked="checked">
			<label for="adminFalse" class="disabled">No</label>
		</div>-->
		
		<div class="m-3">
			<div style="color : red;" id="divValidate"></div>
			<input type="submit" class="btn btn-info m-2" value="Continuar" id="validarDatos"/>
			<a href="/usuario/r" class="btn btn-info m-2">Cancelar</a>
		</div>
		
	</form>
	
</div>
<script src="/js/userValidation.js"></script>
