<div class="container">
	<div class="row mb-4 ml-1">
		<div class="">
			<h1 class="font-weight-light">Mis proyectos</h1>
		</div>
	</div>
</div>

<!--******************************HEADER para página SIN proyectos*******************************-->
<header class="py-4" th:if="${proyectosCreados.isEmpty() && proyectosPertenece.isEmpty()}">
	<div class="container px-lg-5">
    	<div class="jumbotron p-4 p-lg-5 text-center">
            <div class="m-4 m-lg-5">
                <h1 class="display-5 fw-bold" th:text="|¡Hola ${usuario.nombre}!|"></h1>
                <p class="fs-4">¡Bienvenid@ a tu página de proyectos!</p>
                <p class="lead">Desde aquí podrás consultar la información general de los proyectos a los que perteneces y que has creado. Podrás acceder a cada uno de ellos para ponerte en contacto con tus compañeros o gestionar los datos de tu propio equipo.</p>
                <p class="fs-4">Por ahora esto está un poco desierto, pero ¡no te preocupes!</p>
                <div class="d-flex justify-content-center">
	                <a class="btn btn-info m-3 col-4" href="/">Revisa los proyectos ya creados</a>
	                <span class="align-self-center text-center"> - o - </span>
	                <a class="btn btn-info m-3 col-4" href="/project/new">Crea tu propio proyecto</a>
                </div>
            </div>
        </div>
    </div>
</header>
<!--***********************************************************************************************-->

<!--*******************HEADER para página sin proyectos liderados pero si unido********************-->
<header class="py-4" th:if="${proyectosCreados.isEmpty() && !proyectosPertenece.isEmpty()}">
	<div class="container px-lg-5">
    	<div class="jumbotron p-4 p-lg-5 text-center">
            <div class="m-4 m-lg-5">
                <h1 class="display-5 fw-bold" th:text="|¡Hola ${usuario.nombre}!|"></h1>
                <p class="fs-4">¡Bienvenid@ a tu página de proyectos!</p>
                <p class="lead">En este apartado aparecerán los proyectos que vayas creando para que puedas consultar su información general y acceder su página para revisarla o gestionar sus datos.</p>
                <p class="fs-4">Sólo tienes que darle forma a tus ideas creando un nuevo proyecto.</p>
                <div class="d-flex justify-content-center">
	                <a class="btn btn-info m-3 col-4" href="/project/new">Crea tu propio proyecto</a>
                </div>
            </div>
        </div>
    </div>
</header>
<!--***********************************************************************************************-->

<!--*******************************Cards para proyectos liderados*************************************-->
<div class="container p-4" th:if="${!proyectosCreados.isEmpty()}">
	<div>
		<h3 class="font-weight-light">Creados por tí:</h3>
	</div>
	<hr class="mb-3">

	<section class="row">
		<th:block class="contenedorCards" th:each="proyectoCreado : ${proyectosCreados}">
			<div class="d-flex align-items-stretch col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
				<div th:class="${proyectoCreado.isEnded()} ? 'card escalar border-0 my-4 mx-3 proyectoFinalizado w-100' : 'card escalar border-0 my-4 mx-3 w-100 cartaJumboPropios'">
					<div th:class="card-body">
						<h3 class="font-weight-light" th:text="${proyectoCreado.nombre}" />
							
						<hr class="mb-4">
						<p class="" th:text="${proyectoCreado.descripcion}" />
						<div class="d-flex justify-content-between my-4">
							<div class="masDatos align-self-center">
								<label class="d-block" th:text="|Nº de puestos ${proyectoCreado.puestos?.size}|"></label>
							</div>
							<div class="masDatos align-self-center text-right">
								<span class="d-flex flex-nowrap disabled font-weight-light d-block" th:text="|Inicio: ${proyectoCreado.inicio}|" disabled />
								<span class="d-flex flex-nowrap disabled font-weight-light d-block" th:text="|Fin: ${proyectoCreado.fin}|" disabled />
							</div>
						</div>
						<div class="d-flex justify-content-start">
							<h6 th:if="${proyectoCreado.isEnded}" class="d-inline tx-bad">Proyecto finalizado</h6>
							<form action="/project/view" class="d-inline">
								<input type="hidden" name="idProyecto" th:value="${proyectoCreado.id}" />
								<button type="submit" class="btn btn-outline-info btn-sm mr-2">
									Ver proyecto
								</button>
							</form>
							<form action="/project/manage" class="d-inline">
								<input type="submit" value="Gestionar proyecto"
									class="btn btn-outline-info btn-sm" />
								<input type="hidden" name="idProyecto" th:value="${proyectoCreado.id}" />
							</form>
						</div>
					</div>
				</div>
			</div>
		</th:block>
	</section>
</div>
<!--***********************************************************************************************-->

<div th:unless="${proyectosCreados.isEmpty() && proyectosPertenece.isEmpty()}" class="container px-4">
	<h3 class="font-weight-light">A los que te has unido:</h3>
	<hr class="mb-3">
</div>

<!--*******************HEADER para página CON proyectos liderados y SIN unidos********************-->
<header th:if="${!proyectosCreados.isEmpty() && proyectosPertenece.isEmpty()}" class="container px-4">
	<div class="container px-lg-5">
    	<div class="jumbotron p-3 p-lg-3 text-center">
            <div class="m-3 m-lg-4">
                <h1 class="display-5 fw-bold"><i class="bi bi-emoji-neutral"></i> Ups...</h1>
                <p class="lead" th:text="|${usuario.nombre}, parece que sólo perteneces a proyectos creados por tí.|"></p>
                <p class="">¡Pero eso no es malo!</p>
                <p class="lead">Sólo recuerda que todos los proyectos a los que te unas aparecerán en este apartado para que consultes su información general y puedas acceder a su página principal de forma sencilla.</p>
                <div class="d-flex justify-content-center">
	                <a class="btn btn-info m-3 col-4" href="/">Revisa los proyectos ya creados</a>
                </div>
            </div>
        </div>
    </div>
</header>
<!--***********************************************************************************************-->

<!--*************************Cards para proyectos a los que pertenece*******************************-->
<div class="container px-4" th:if="${!proyectosPertenece.isEmpty()}">

	<section class="row">
		<th:block class="contenedorCards" th:each="proyectoPertenece : ${proyectosPertenece}">
			<div class="d-flex align-items-stretch col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
				<div th:class="${proyectoPertenece.proyecto.isEnded()} ? 'card escalar border-0 my-4 mx-3 proyectoFinalizado w-100' : 'card escalar border-0 my-4 mx-3 w-100 cartaJumbo'">

					<div th:class="card-body" >
						<h3 class="font-weight-light" th:text="${proyectoPertenece.proyecto.nombre}" />
							
						<hr class="mb-4">
						<label class="d-block" th:text="${proyectoPertenece.nombre}"></label>
						<p class="" th:text="${proyectoPertenece.descripcion}" />
						<div class="d-flex justify-content-between">
							<h6 th:if="${proyectoPertenece.proyecto.isEnded()}" class="d-inline tx-bad">Proyecto finalizado</h6>
							<form action="/project/view" class="d-inline">
								<input type="hidden" name="idProyecto" th:value="${proyectoPertenece.proyecto.id}" />
								<button type="submit" class="btn btn-outline-info btn-sm mr-2">
									Ver proyecto
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</th:block>
	</section>
</div>
	    

<script src="/js/misProyectos.js"></script>