<div class="container">
	<div class="row m-3">
		<h2 class="display-4">Mi perfil</h2>
	</div>
</div>
<form action="/usuario/u" method="POST">
<div class="container rounded p-4">
	Nombre <input type="text" name="nombre" th:value="${usuario.nombre}"/><br/><br/>
	Primer Apellido <input type="text" name="apellido1" th:value="${usuario.apellido1}"/><br/><br/>
	Segundo Apellido<input type="text" name="apellido2" th:value="${usuario.apellido2}"/><br/><br/>
	Email<input type="text" name="email" th:value="${usuario.email}"/><br/><br/>
	Teléfono <input type="text" name="telefono" th:value="${usuario.telefono}"/><br/><br/>
	Habilidades
	<div th:each="habilidad:${habilidades}">
				<input  
					th:id="|id-${habilidad.id}|" 
					type="checkbox" 
					name="idsHabilidades[]" 
					th:value="${habilidad.id}" 
					th:checked="${usuario.sabe.contains(habilidad)}"
				/>
				
				<label th:for="|id-${habilidad.id}|" th:text="${habilidad.nombre}"/>
			</div> <br/><br/>
	
	Cambiar contraseña<br/><br/>
	Contraseña antigua <input type="password" name="password"/><br/><br/>
	Contraseña nuevo <input type="password" name="newPassword"/><br/><br/>
	Confirmar contraseña <input type="password" name="passwordConfirm"/><br/><br/>
	
	
	<br/>
	
		<input type="submit" class="btn btn-success btn-sm" value="Modificar"/>
	</form>
</div>