<div class="container rounded p-4">
	
	<div class="row m-3">
		<h3 class="display-5" th:text="${proyecto.nombre}"/>
		<h3 class="display-5" th:text="| (${proyecto.leader.nombre} ${proyecto.leader.apellido1} ${proyecto.leader.apellido2})|"/>
	</div>
	
	<!-- +++++++++++++++++++++++++++++++++++PUESTOS LIBRES (para unirse) Y SU INFORMACIÓN+++++++++++++++++++++++++++++++++++++++++++++++ -->
	<h5 class="display-6">Puestos disponibles</h5>
	<table class="table table-hover">
		<thead>
		  
		    <tr class="table-active">
		    	<th scope="col">
					Nombre del puesto
				</th>
				<th scope="col">
					Descripcion
				</th>
				<th scope="col">
					Ocupante
				</th>
				<th scope="col">
					Habilidades Requeridas
				</th>
				
			</tr>
		</thead>
		<tbody>
		  
			<!-- scope="row" en un th indica el indice de la fila -->
			<tr th:each="puesto:${proyecto.puestos}">
				<td th:text="${puesto.nombre}"/>
				<td th:text="${puesto.descripcion}"/>
				<td th:text="${puesto.ocupante?.nombre}"/>
				<td>
					<th:block th:each="habilidad:${puesto.requiere}" th:text="|${habilidad.nombre} / |"/>
				</td>
				<td>
					<form th:name="|unir${puesto.id}|" action="/usuario/unir" method="POST">
						<input type="hidden" name="idPuesto" th:value="${puesto.id}"/>
						<input th:if="${puesto.ocupante==null && !pertenece && session.usuario!=null && proyecto.leader.id != session.usuario.id}" type="button" class="btn btn-success btn-sm" value="Unirse" onclick="confirmar(this.form)"/>
						<!--<input type="submit" class="btn btn-success btn-sm" value="Unirse"/>-->
					</form>
				</td>
				<!--<td>
					<form action="/proyecto/verProyecto">
					<input type="hidden" name="idProyecto" th:value="${proyecto.id}"/>
					<input type="submit" value="Más info"/>
					</form>
				</td>-->
			</tr>
		    
			</tbody>
		</table>
		<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
		
		
	<!-- +++++++++++++++++++++++++++++++++++PUESTOS OCUPADOS Y SU INFORMACIÓN+++++++++++++++++++++++++++++++++++++++++++++++ -->
	
	<div class="row">
		<div class="mx-3 mt-3">
			<div>
				<h3 class="display-5" th:text="|Equipo de ${proyecto.nombre}|"></h3> 
			</div>
		</div>
	</div>
	<hr class="mb-4">
		
	<div class="row mx-3 mb-3">
		<table class="table table-hover">
			<thead>
		  
			    <tr class="table-active">
					<th scope="col" rowspan="2">
						Nombre
					</th>
					<th scope="col" rowspan="2">
						Su puesto
					</th>
					<th scope="col" rowspan="2">
						Descripción
					</th>
					<th scope="col" rowspan="2">
						Habilidades
					</th>
			    </tr>
		  </thead>
		  <tbody>
		  
		    	<!-- scope="row" en un th indica el indice de la fila -->
				<tr th:each="puesto : ${proyecto.puestos}">
					<th:block th:if="${puesto.ocupante != null}" >
						<td th:text="${puesto.ocupante.nombre}" />
						<td th:text="${puesto.nombre} "/>
						<td th:text="${puesto.descripcion} "/>
						<td>
							<ul th:each="habilidad : ${puesto.requiere}">
								<li th:text="${habilidad.nombre}"></li>
							</ul>
						</td>
					</th:block>
				</tr>
			</tbody>
		</table>
		
	</div>
	
	<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
	
	<form action="/proyecto/c">
		<input type="button" class="btn btn-success btn-sm" value="Nuevo Proyecto" onclick="this.form.submit()"/>
		<!--<input type="hidden" name="idProyecto" th:value="${proyecto.id}"/>-->
	</form>
</div>
<script>
	function confirmar(formulario){
		
		var res = confirm("Estas seguro de que quieres unirte?");
		console.log(formulario);
		if(res){
			formulario.submit();
		}
	}
</script>