<div class="container">
	<footer class="row row-cols-4 py-5 my-5 border-top">
		<div class="col-1"></div>
		<div class="col-4">
			<a href="/" class="d-flex align-items-center mb-3 link-dark tx-main text-decoration-none enlaceIconoFooter">
				<img class="logoFooter mr-1" src="/img/logo.png"></img>  Teafind
			</a>
			<ul class="nav flex-column">
				<li class="nav-item mb-2"><span class="p-0 text-muted">Teafind es un trabajo de fin de grado de DAW 2 para el IES Rey Fernando VI.</span></li>
			</ul>
		</div>

		<div class="col-2"></div>

		<div class="col-3">
			<h5>Enlaces <i class="bi bi-link-45deg"></i></h5>
			<ul class="nav flex-column">
				<li class="nav-item mb-2"><a href="/team" class="nav-link p-0 text-info"><i class="bi bi-people"></i> Nuestro equipo</a></li>
				<li class="nav-item mb-2"><a href="/about" class="nav-link p-0 text-info"><i class="bi bi-info-circle"></i> Acerca de Teafind</a></li>
			</ul>
		</div>

		<div class="col-2">
		</div>
	</footer>
</div>
	
