<nav class="navbar navbar-expand-lg sticky-top navbar-dark bgc-main-darkest border-bottom px-5 mb-5">
	
	<div class="collapse navbar-collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarNavDropdown">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active align-self-center mr-5">
        		<img class="logoNavbar p-0 m-0" src="/icon/favicon/android-icon-144x144.png" onclick="location.href='/'" title="Inicio"></img>
      		</li>
     	 	
     	 	<li class="nav-item" th:if="${session.usuario!=null && session.usuario?.admin}">
        		<a class="nav-link" href="/admin/users">Usuarios</a>
     	 	</li>

			<li class="nav-item" th:if="${session.usuario!=null && session.usuario?.admin}">
        		<a class="nav-link" href="/admin/projects">Proyectos</a>
     	 	</li>

			<li class="nav-item" th:if="${session.usuario!=null && session.usuario?.admin}">
        		<a class="nav-link" href="/admin/habilities">Habilidades</a>
     	 	</li>
		</ul>
	</div>
	
	<div class="mx-auto order-2">
        <a class="navbar-brand mx-auto" href="/" title="Página principal de Teafind">Teafind</a>
    </div>
	
	<div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
        
        	<li th:if="${session.usuario != null}" class="nav-item mr-auto align-self-center mr-4">
        		<div class="wrapper">
	        		<a class="button" href="/project/new">
						<div class="icon"><i class="bi bi-plus-lg"></i></div>
						<span>Crear proyecto</span>
					</a>
        		</div>
        	</li>
        	
            <!--INICIO DE SESIÓN-->
			<li class="nav-item dropdown mr-auto" th:if="${session.usuario==null}">
				<a class="nav-link text-light" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false" role="button">
    				Iniciar sesión <i class="bi bi-box-arrow-in-right tx-good"></i>
    			</a>
				<div class="dropdown-menu dropdown-menu-right menuLogin">
					<form class="px-4 pt-3 pb-2" action="/login" method="POST">
						<div class="form-group">
							<label class="text-light" for="exampleDropdownFormEmail1">Email</label>
							<input type="email" name="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@ejemplo.com">
						</div>
						<div class="form-group">
							<label class="text-light" for="exampleDropdownFormPassword1">Contraseña</label>
							<input type="password" name="pwd" class="form-control" id="exampleDropdownFormPassword1" placeholder="Contraseña">
						</div>
						<div class="d-flex justify-content-end">
							<button type="submit" class="btn btn-sm btn-info text-right botonLogin border-0">Iniciar sesión</button>
						</div>
					</form>
					<div class="mb-2 mx-3">
						<span class="d-block text-center text-light">¿Todavía no tienes cuenta?</span>
						<a class="d-block text-center tx-atencion" href="/register">¡Regístrate!</a>
					</div>
				</div>
			
			</li>
			<!--**************-->
			
			<!--Ventana de USUARIO-->
			<li class="nav-item dropdown" th:unless="${session.usuario==null}">
				<a class="nav-link p-0" href="#" id="navbarDropdownMenuLink" role="button" title="Menú de usuario" data-toggle="dropdown" aria-expanded="false">
					<span th:text="${session.usuario?.email}" class="p-0 my-0 align-self-center"></span>
					<img th:src="|/img/profile/${session.usuario?.imagen}|" class="imagenNavbar p-0 m-0 ml-2"></img>
				</a>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item d-flex justify-content-between py-2 bg-info enlacePerfilUsuario" href="/user/profile">
						<img th:src="|/img/profile/${session.usuario?.imagen}|" class="imgPerfilMenu p-0 m-0"></img>
						<!--<i class="bi bi-person-circle text-white display-4 p-0 align-self-center"></i>-->
						<div class="align-self-center text-right">
							<span class="d-block textoPerfilUsuario seccionPerfil">Mi perfil</span>
							<span class="d-block textoPerfilUsuario nombrePerfil" th:text="${session.usuario?.nick}"></span>
						</div>
					</a>
					<a class="dropdown-item d-flex justify-content-between py-2 mt-2" href="/user/projects">
						<span> Mis proyectos </span>
						<i class="bi bi-briefcase tx-main"></i>
					</a>

					<div class="dropdown-divider"></div>

					

				

					<a class="dropdown-item d-flex justify-content-between mt-2 mb-2 py-2" href="/logout">
						<span>Cerrar sesión</span>
						<i class="bi bi-box-arrow-right tx-bad"></i>
					</a>
				</div>
			</li>
			<!--***************-->
        </ul>
    </div>
    
    <div class="ml-auto order-0">
        <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target=".dual-collapse2">
        	<span class="navbar-toggler-icon"></span>

        </button>
    </div>
</nav>


