<nav class="navbar navbar-expand-lg bg-light navbar-light border-bottom px-5">

	<a class="navbar-brand" href="/">
		Teafind
	</a>

	<div class="collapse navbar-collapse px-5 d-flex justify-content-between" id="navbarSupportedContent">
		
    	<ul class="navbar-nav mr-auto">
    	
    		<li class="nav-item active">
        		<a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
      		</li>
     	 	
     	 	<li class="nav-item" th:if="${session.usuario!=null && session.usuario?.admin}">
        		<a class="nav-link" href="/usuario/r">Ver usuarios</a>
     	 	</li>
    		
    		<li class="nav-item dropdown" th:if="${session.usuario!=null && session.usuario?.admin}">
    			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false" role="button">
    				Habilidades
    			</a>
    
    			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    				<a class="dropdown-item" href="/habilidad/r">Ver todas</a>
    				<a class="dropdown-item" href="/habilidad/c">Crear nueva</a>
    			</div>
    		</li>
    		
    		<li class="nav-item dropdown">
    			<a class="nav-link dropdown-toggle text-warning" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false" role="button">
    				Menú provisional
    			</a>
    
    			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    				<a class="dropdown-item" href="/habilidad/r">Ver habilidades</a>
    				<a class="dropdown-item" href="/habilidad/c">Crear habilidades</a>
    				<a class="dropdown-item" href="/usuario/r">Ver usuarios</a>
    			</div>
    		</li>
    	</ul>
    	
	</div>
	
	<div th:unless="${session.usuario==null}" class="mr-3">
		<ul class="navbar-nav mr-auto">
    		<button class="btn btn-outline-primary border-0" title="Crear nuevo proyecto" onclick="location.href='/proyecto/c'">
    		<i class="bi bi-file-earmark-plus"></i>
    		 Crear proyecto
    		</button>
    	</ul>
	</div>
	
    <div>
    	
    	<ul class="navbar-nav mr-auto">
    		
    		<!--************ Ventana login ****************
    		*********************************************-->
			<li class="nav-item dropdown mr-auto" th:if="${session.usuario==null}">
				<a class="nav-link" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false" role="button">
    				Iniciar sesión <i class="bi bi-box-arrow-in-right text-success"></i>
    			</a>
				<div class="dropdown-menu dropdown-menu-right menuLogin">
					<form class="px-4 pt-3 pb-2" action="/login" method="POST">
						<div class="form-group">
							<label for="exampleDropdownFormEmail1">Email</label>
							<input type="email" name="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@ejemplo.com">
						</div>
						<div class="form-group">
							<label for="exampleDropdownFormPassword1">Contraseña</label>
							<input type="password" name="pwd" class="form-control" id="exampleDropdownFormPassword1" placeholder="Contraseña">
						</div>
						<div class="d-flex justify-content-end">
							<button type="submit" class="btn btn-sm btn-info text-right">Iniciar sesión</button>
						</div>
					</form>
					<div class="mb-2 mx-3">
						<span class="d-block text-center">¿Todavía no tienes cuenta?</span>
						<a class="d-block text-center text-info" href="/usuario/c">¡Regístrate!</a>
					</div>
				</div>
			
			</li>
    		
    		<!--************ Ventana usuario **************
    		*********************************************-->
    		<li class="nav-item dropdown mr-auto" th:unless="${session.usuario==null}">
    			<div class="btn btn-outline-info rounded-circle p-2 profileCircle" 
    					id="profileCircle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false" role="button"
    					th:text="|${session.usuario.nombre.toUpperCase().charAt(0)}${session.usuario.apellido1.toUpperCase().charAt(0)}|" />
				<div class="dropdown-menu dropdown-menu-right">
					<div class="dropdown-item d-flex flex-row align-items-center py-2 mb-3 userMenuHeader" onclick="location.href='/usuario/u'" style="cursor: pointer">
						
						<h1 class="align-self-center no-gutters pr-3 align-middle display-5"><i class="bi bi-person-circle align-middle"></i></h1>
						
						<div class="d-block">
							<div>
								<h5 class="font-weight-normal" th:text="${session.usuario.nombre}"/>
							</div>
							<div>
								<h6 class="font-weight-light" th:text="${session.usuario.email}" />
							</div>
						</div>
					</div>
					
					
					<a class="dropdown-item d-flex justify-content-between py-2" href="/usuario/mis_proyectos">
						<span> Mis proyectos </span>
						<i class="bi bi-briefcase text-primary"></i>
					</a>
					
					<div class="dropdown-divider"></div>
					
					<a class="dropdown-item d-flex justify-content-between mt-2 py-2" href="#">
						<span>Acerca de</span>
						<i class="bi bi-info-circle text-warning"></i>
					</a>
					
					<a class="dropdown-item d-flex justify-content-between py-2" href="#">
						<span>Ayuda</span>
						<i class="bi bi-question-circle text-success"></i>
					</a>
					
					<a class="dropdown-item d-flex justify-content-between mt-2 mb-2 py-2" href="/logout">
						<span>Cerrar sesión</span>
						<i class="bi bi-box-arrow-right text-danger"></i> 
					</a>
					
				</div>
    		</li>
    		
       	</ul>
   	</div>
   	
   	
   	<!-- ***************************** NUEVA NAVBAR **********************************
   	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="#">Navbar</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavDropdown">
	    <ul class="navbar-nav">
	      <li class="nav-item active">
	        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Features</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Pricing</a>
	      </li>
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
	          Dropdown link
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
	          <a class="dropdown-item" href="#">Action</a>
	          <a class="dropdown-item" href="#">Another action</a>
	          <a class="dropdown-item" href="#">Something else here</a>
	        </div>
	      </li>
	    </ul>
	  </div>
	</nav>
   	*********************************************************************************-->
   	
   	
   	
   	
   	
   	
   	<script src="/js/userMenu.js"></script>
</nav>



