<nav class="navbar navbar-expand-sm bg-light navbar-light border-bottom px-5 d-flex justify-content-between">

	<a class="navbar-brand" href="/">
		Teafind
	</a>

	<div class="collapse navbar-collapse px-5" id="navbarSupportedContent">
    	<ul class="navbar-nav mr-auto">
    	
    		<li class="nav-item active">
        		<a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
      		</li>
     	 	
     	 	<li class="nav-item" th:if="${session.usuario!=null && session.usuario?.admin}">
        		<a class="nav-link" href="/usuario/r">Ver usuarios</a>
     	 	</li>
    		
    		<li class="nav-item dropdown" th:if="${session.usuario!=null && session.usuario?.admin}">
    			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false" role="button">
    				Habilidades
    			</a>
    
    			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    				<a class="dropdown-item" href="/habilidad/r">Ver todas</a>
    				<a class="dropdown-item" href="/habilidad/c">Crear nueva</a>
    			</div>
    		</li>
    	</ul>
	</div>
    		
    <div>
    	<ul class="navbar-nav mr-auto">
    		<!--************ Ventana login ****************
    		*********************************************-->
			<li class="nav-item dropdown mr-auto" th:if="${session.usuario==null}">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false" role="button">
    				Iniciar sesión
    			</a>
				<div class="dropdown-menu dropdown-menu-right">
					<form class="px-4 py-3 p-4" action="/login" method="POST">
						<div class="form-group">
							<label for="exampleDropdownFormEmail1">Email</label>
							<input type="email" name="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@ejemplo.com">
						</div>
						<div class="form-group">
							<label for="exampleDropdownFormPassword1">Contraseña</label>
							<input type="password" name="pwd" class="form-control" id="exampleDropdownFormPassword1" placeholder="Contraseña">
						</div>
						<button type="submit" class="btn btn-primary">Iniciar sesión</button>
					</form>
					<div class="dropdown-divider"></div>
					<span class="ml-3">¿Nuevo por aquí?</span>
					<a href="/usuario/c">Regístrate</a>
				</div>
			
			</li>
    		
    		<!--************ Ventana usuario **************
    		*********************************************-->
    		<li class="nav-item dropdown mr-auto" th:unless="${session.usuario==null}">
    			<div class="nav-link dropdown-toggle profile-circle text-light" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false" role="button">
					<span th:text="|${session.usuario.nombre.toUpperCase().charAt(0)}${session.usuario.apellido1.toUpperCase().charAt(0)}|"/>
				</div>
				<div class="dropdown-menu dropdown-menu-right">
					<div class="dropdown-item d-block bg-info text-light no-gutters" onclick="location.href='/usuario/u'" style="cursor: pointer">
						<div>
							<span class="font-weight-bold" th:text="${session.usuario.nombre}"/>
						</div>
						<div>
							<span class="font-weight-light" th:text="${session.usuario.email}" />
						</div>
					</div>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="/usuario/mis_proyectos">Mis proyectos</a>
					<a class="dropdown-item" href="/logout">Cerrar sesión</a>
				</div>
    		</li>
    		
       	</ul>
   	</div>
</nav>

