<div class="container">
	<div class="row m-3">
		<h2 class="display-4">Crear puesto para el proyecto</h2>
	</div>
</div>	

<div class="container rounded p-4">
	
	<div class="row m-3">
		<h3 class="display-5" th:text="${proyecto.nombre}"/>
	</div>
	
	<form name="puestoForm" action="/puesto/c" method="POST">
		<div class="mb-3">
			<label for="idNombre" class="form-label disabled">Nombre</label>
			<input type="text" class="form-control" name="nombre" id="idNombre">
		</div>
		
		<div class="mb-3">
			<label for="idDescripcion" class="form-label disabled">Descripcion</label>
			<input type="text"  class="form-control" name="descripcion" id="idDescripcion">
		</div>
		
		<fieldset>
		<legend>Habilidades requeridas para el puesto</legend>
		<div class="mb-3 row">
			<div class="mr-2" th:each="habilidad:${habilidades}">
				<input type="checkbox" name="idsHabilidadesRequire[]" th:value="${habilidad.id}" th:id="|id-${habilidad.id}-habilidad|"/>
				<label th:for="|id-${habilidad.id}-habilidad|" th:text="${habilidad.nombre}"/>
			</div>
		</div>
		</fieldset>
		
		
		<div class="m-3">
			<input type="button" onclick="comprobarDestino(true)" class="btn btn-info m-2" value="Finalizar" />
			<input type="button" onclick="comprobarDestino(false)" class="btn btn-info m-2" value="Añadir Mas" />
			<a href="/proyecto/r" class="btn btn-info m-2">Cancelar</a>
		</div>
		<input type="hidden" name="destino" value=""/>
		<input type="hidden" name="idProyecto" th:value="${proyecto.id}"/>
		<input type="hidden" name="nombreProyecto" th:value="${proyecto.nombre}"/>
		
	</form>
	
</div>
<script>
	function comprobarDestino(fin){
		if(fin){
			puestoForm.destino.value=fin;
		}
		else if(!fin){
			puestoForm.destino.value=fin;
		}
		puestoForm.submit();
	}
</script>
