:root {
    --bg-main: #f8f8fb;
    --jumbotron: #e9ecef;
}

/*----------------------BODY---------------------
------------------------------------------------*/
html, body {
    font-family: 'Lato', sans-serif;
    background-color: var(--bg-main);
}
::-moz-selection { /* Code for Firefox */
  color: #f8f8fb;
  background: #30A0BA;
}

::selection {
  color: #f8f8fb;
  background: #30A0BA;
}

/*--------------------SCROLLBAR-------------------
------------------------------------------------*/
/* Para webkit */
/* width */
::-webkit-scrollbar {
  width: 12px;
}
/* Track */
::-webkit-scrollbar-track {
  background: rgba(196, 224, 223, 0); 
  border-radius: 12px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(97, 140, 180, 0.979); 
  border-radius: 12px;
  border: 2px solid var(--bg-main);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(48, 101, 150, 0.979); 
}
/* Handle on active */
::-webkit-scrollbar-thumb:active {
  border: 1px solid var(--bg-main);
}
/* Para firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: SteelBlue LightBlue;
}

/*----------------------NAV----------------------
------------------------------------------------*/
.logoNavbar {
	height: 30px;
}
.logoNavbar :hover {
	box-shadow: #fff 0px 0px 8px;
}
.dropdown-menu {
    width: 250px !important;
}
.oculto {
    display: none;
}
.navbarDropdownMenuLink{
	position: absolute;
}
.enlacePerfilUsuario :hover{
	color: white;
}

/*Botón Crear Proyecto*/
.wrapper .button {
	text-decoration: none;
    display: inline-block;
    height: 30px;
    width: 30px;
    float: left;
    margin: 0 15px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
.wrapper .button:hover {
    width: 155px;
    transition-duration: 0.3s;
}
.wrapper .button .icon {
    color: #30A0BA;
    display: inline-block;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 30px;
}
.wrapper .button:hover .icon {
    background: #30A0BA;
    transition: all 0.3s ease-out;
}
.wrapper .button .icon i {
    font-size: 15px;
    line-height: 30px;
    transition: all 0.6s ease-out;
}
.wrapper .button:hover .icon i {
    color: #fff;
}
.wrapper .button span {
	color: #30A0BA;
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
    margin-left: 7px;
}
/*FIN Botón Crear Proyecto*/

/*-------------------User Menu-------------------
------------------------------------------------*/
.imagenNavbar {
	width: 30px;
	height: 30px;
	object-fit: cover;
	border-radius: 50%;
	object-position: center center;
    transition: all 0.4 ease-in;
}
/*.imagenNavbar.imagenLiderLista {
	width: 30px;
	height: 30px;
	object-fit: cover;
	border-radius: 50%;
	object-position: center center;
    transition: all 0.4 ease-in;
}*/
.imgPerfilMenu {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
}
.imgPerfil {
	width: 200px;
	height: 200px;
	object-fit: cover;
	object-position: center center;
}
.textoPerfilusuario {
    color: #f8f8fb;
}
.enlacePerfilUsuario {
    transition: all 0.4s ease-in-out;
}
.enlacePerfilUsuario:hover .imgPerfilMenu {
    box-shadow: #f8f8fb 0px 0px 16px, #f8f8fb 0px 0px 12px, #f8f8fb 0px 0px 8px, #f8f8fb 0px 0px 4px, #f8f8fb 0px 0px 2px, #f8f8fb 0px 0px 1px, #f8f8fb 0px 0px 4px, #f8f8fb 0px 0px 2px, #f8f8fb 0px 0px 1px;
}
.enlacePerfilUsuario:hover .textoPerfilUsuario {
    color: #fff;
}


/*---------------------LOGIN---------------------
------------------------------------------------*/
.menuLogin {
    /*
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    */
    background: linear-gradient(-45deg, #fff, #c0fdf3, #aed7f3, #ddacf0);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*--------------------Registro--------------------
------------------------------------------------*/
.imagenSubida {
	width: 128px;
	height: 128px;
	object-fit: cover;
	object-position: center center;
}

/*-------------------Proyectos-------------------
------------------------------------------------*/
.hiddenCard {
    display: none;
}
.card.escalar {
    transition-duration: 300ms;
}
.card.escalar:hover{
	/*-ms-transform: scale(1.01);
	-webkit-transform: scale(1.01); */
	transform: translate(-6px, -5px);
	-webkit-box-shadow: -6px 5px 0px 0px #30A0BA; 
	box-shadow: 6px 5px 0px 0px #30A0BA;
    transition-duration: 150ms;
}
.sinPuestos {
	background-color:#F9F997;
}

/*---------------Gestion Proyectos---------------
------------------------------------------------*/
.hiddenElementProyecto {
	display: none;
}
.card-columns {
	@include media-breakpoint-only(sm) {
    	column-count: 1;
  	}
	@include media-breakpoint-only(md) {
    	column-count: 2;
  	}
  	@include media-breakpoint-only(lg) {
    	column-count: 3;
  	}
  	@include media-breakpoint-only(xl) {
    	column-count: 4;
  	}
}

/*-----------------Mis proyectos----------------
------------------------------------------------*/
.cartaJumbo {
	background-color: #E7D0FA;
}
.cartaJumboPropios {
	background-color: var(--jumbotron);
}

/*-----------------Ver Proyecto-----------------
------------------------------------------------*/
#textareaVerProyecto {
    resize: none;
}

/*-------------------Team View-------------------
------------------------------------------------*/
.team {
	color: #8d97ad;
  	font-weight: 300;
}
.team h1, .team h2, .team h3, .team h4, .team h5, .team h6 {
  	color: #3e4555;
}
.team .font-weight-medium {
	font-weight: 500;
}
.teamPic{
	height: 320px;
	width: 320px;
}
.team h5 {
    line-height: 22px;
    font-size: 18px;
}
.team .subtitle {
    color: #8d97ad;
    line-height: 24px;
	font-size: 13px;
}
.team ul li a {
	color: #8d97ad;
	padding-right: 15px;
	-webkit-transition: 0.1s ease-in;
	-o-transition: 0.1s ease-in;
	transition: 0.1s ease-in;
}
.team ul li a:hover {
	-webkit-transform: translate3d(0px, -5px, 0px);
	transform: translate3d(0px, -5px, 0px);
	color: #316ce8;
}
.logoTeam {
	height: 120px;
}

/*-----------------About View-----------------
------------------------------------------------*/
.logoAbout {
	height: 220px;
}

/*-------------------Footer-------------------
------------------------------------------------*/
.logoFooter {
	height: 24px;
}

/*---------Sobrescritura Bootstrap---------
------------------------------------------------*/
.btn {
    border-radius: .65rem;
}
.btn-group-lg>.btn,
.btn-lg {
    border-radius: .7rem;
}
.btn-group-sm>.btn,
.btn-sm {
    border-radius: .6rem;
}
.dropdown-menu {
    border-radius: .6rem;
}