:root {
    --bg-main: rgb(248, 248, 251);
}

/*----------------------BODY---------------------
------------------------------------------------*/
html, body {
    font-family: 'Lato', sans-serif;
}

/*----------------------NAV----------------------
------------------------------------------------*/
nav {
	height: 65px;
	width: 100%;
}
.dropdown-menu {
    width: 250px !important;
}
.oculto {
    display: none;
}
#profileCircle :hover {
    box-shadow: 4px 4px 0px rgb(32, 202, 224);
    transition-duration: 400ms;
}
i.bi bi-person-circle {
    height: 26px !important;
    width:26px !important;
}
div.userMenuHeader {
    color: var(--bg-main);
    background-color: teal;
    transition-duration: 400ms;
}
div.userMenuHeader :hover {
    transition-duration: 900ms;
}

/*-------------------Proyectos-------------------
------------------------------------------------*/
.hiddenCard {
    display: none;
}

/*---------------Gestion Proyectos---------------
------------------------------------------------*/
.hiddenInputProyecto {
	display: none;
}
.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}