<div th:unless="${libres == 0 && ocupados == 0}" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
	<div class="">
		<div>
			<h3 class="font-weight-light">Puestos ocupados:</h3> 
		</div>
	</div>
	<hr class="mb-4">

	<div class="mx-3 mb-3">
		
		<!-- Mensaje mostrado al no haber puestos ocupados en el equipo -->
		<h5 th:if="${ocupados == 0 && libres > 0}" class="display-5 list-group-item-warning rounded text-center p-3 mt-5" th:text="|No hay ningún puesto ocupado en este momento para ${proyecto.nombre}|"></h5>
		<!--************************************************************-->
		
		<th:block th:if="${ocupados > 0}" th:each="puesto : ${proyecto.puestos}" class="mx-3">
			<div th:if="${puesto.ocupante != null && puesto.ocupante.id != session.usuario?.id}" class="card text-center my-3 mx-3">
  				<div class="card-body">
					
					<h5 class="card-title text-left font-weight-bold" th:text="${puesto.nombre}"></h5>
					<p class="card-text text-left" th:if="${session.usuario!=null && (pertenece || proyecto.leader.id == session.usuario?.id)}" th:text="|${puesto.ocupante.nombre} ${puesto.ocupante.apellido1} ${puesto.ocupante.apellido2}|"></p>
				    <p class="card-text" th:text="${puesto.descripcion}"></p>
  				</div>
				<div class="d-inline text-right pb-2 px-2">
				    <span th:each="habilidad : ${puesto.requiere}" th:text="${habilidad.nombre}" class="badge badge-pill badge-primary mx-1"></span>
				</div>
			</div>
		</th:block>
	</div>
</div>