<div class="mb-5 team">
	<div class="container">
    	<div class="row justify-content-center mb-3">
      		<div class="col-md-7 text-center">
      			<img class="img-fluid logoAbout mb-4" src="/img/logo.png"/>
        		<h3 class="mb-3">Acerca de Teafind</h3>
        		<h6 class="subtitle">Teafind es un proyecto presentado como trabajo de fin de grado por Alejandro Asensio Álvarez, Jorge Asensio Álvarez y Cristian Chaparro Arteaga para el curso de Técnico Superior de Aplicaciones Web del instituto IES Rey Fernando VI.</h6>
        	</div>
    	</div>
    	<div class="row justify-content-around mb-3">
			<div class="col-md-5">	
        		<h5 class="mb-3 mt-4">Datos técnicos:</h5>
        		<p>La web está desplegada y alojada en Google Cloud para permitir el acceso público. </p>
				<p>Se ha configurado un dominio exclusivo para el acceso fácil desde una dirección web amigable y reconocible.</p>
        		<p>Teafind es un proyecto maven enteramente desarrollado en Java con Springboot, Hibernate y Thymeleaf para la generación de las plantillas de las vistas.</p>
        		<p>Se ha utilizado Bootstrap 4 en toda la web para dar formato y estilo, personalizado mediante CSS.</p>
        		<p>Los efectos o funcionalidades extra han sido desarrollados en JavaScript y jQuery.</p>
      		</div>
      		<div class="col-md-5">	
        		<h5 class="mb-3 mt-4">Descripción del proyecto:</h5>
        		<p>Teafind es una web de publicación y búsqueda de proyectos de software cuyo objetivo principal es facilitar la comunicación entre aquellas personas que compartan un mismo objetivo.</p>
        		<p>Es el nexo de unión entre una idea o un proyecto ya iniciado y el talento con el que, de otro modo, sería difícil converger.</p>
        		<h6 class="subtitle">Puedes conocer y contactar al equipo de Teafind en el enlace "<i class="bi bi-people"></i> Nuestro equipo" más abajo.</h6>
      		</div>
    	</div>
  	</div>
</div>