<div class="container">
	<div class="row">
		<h3>Escoge acción</h3>
	</div>
	
	<div class="row">
		<form action="/login">
			<button>Login</button>
		</form>
		<form action="/habilidad/r">
			<button>Ver Habilidades</button>
		</form>
		<form action="/habilidad/c">
			<button>Crear Habilidades</button>
		</form>
		<br />

		<form action="/proyecto/r">
			<button>Ver Proyectos</button>
		</form>
		<form action="/proyecto/c">
			<button>Crear Proyectos</button>
		</form>
		<br />

		<form action="/usuario/r">
			<button>Ver Usuarios</button>
		</form>
		<form action="/usuario/c">
			<button>Crear Usuarios</button>
		</form>

	</div>
</div>