<div class="container">
	<div class="row m-3 mt-4">
		<h1 class="font-weight-light">Proyectos</h1>
	</div>
	<form action="/">
	<input type="text" placeholder="Nombre del proyecto" name="nombre"/>
	<input type="submit" value="Buscar"/>
	</form>
</div>

<div th:if="${proyectos.size > 0}" class="container p-4">
	
	<div class="row ml-3 d-flex justify-content-between">
		<h3 class="font-weight-light align-self-center">Lista de Proyectos</h3>
		<div class="btn-group btn-group-sm mr-3" role="group" aria-label="Basic example">
			<button type="button" class="btn btn-secondary btn-sm" onclick="layoutProjectsGrid();">
				<i class="bi bi-grid-3x2-gap text-light p-2"></i> Grid
			</button>
			<button type="button" class="btn btn-secondary btn-sm" onclick="layoutProjectsList();">
				<i class="bi bi-view-stacked text-light p-2"></i> Lista
			</button>
		</div>
	</div>
	
	<hr class="mb-3" />
	
	
	<div id="proyectos" class="m-3">
		
		<div class="card escalar m-3 hiddenCard" th:each="proyecto : ${proyectos}" id="cardsList">
			<!--<h6 class="card-header text-right text-muted bg-light" th:text="|${proyecto.leader?.nombre} ${proyecto.leader?.apellido1}|"/>-->
			<img class="imagenNavbar float-right m-3" th:src="|/img/profile/${proyecto.leader.imagen}|" th:alt="${proyecto.leader.nick}" th:title="${proyecto.leader.nick}">
			<div class="card-body">
				<h5 class="card-title" th:text="${proyecto.nombre}" />
				<p class="card-text" th:text="${proyecto.descripcion}"/>
				<form action="/proyecto/verProyecto">
					<input type="hidden" name="idProyecto" th:value="${proyecto.id}"/>
					<input class="btn btn-info" type="submit" value="Más información"/>
				</form>
			</div>
		</div>
	
			
		<div class="card-columns" id="cardsGrid">
			<div class="card escalar m-3 mb-4" style="width: 18rem;" th:each="proyecto : ${proyectos}">
				<div class="card-body">
					<!--<p class="disabled text-right text-muted" th:text="${proyecto.leader?.nombre}" />-->
					<img class="imagenNavbar float-right" th:src="|/img/profile/${proyecto.leader.imagen}|" th:alt="${proyecto.leader.nick}" th:title="${proyecto.leader.nick}">
					<h5 class="card-title" th:text="${proyecto.nombre}"></h5>
					<p class="card-text" th:text="${proyecto.descripcion}" />
					<form action="/proyecto/verProyecto">
						<input type="hidden" name="idProyecto" th:value="${proyecto.id}"/>
						<input class="btn btn-info text-right" type="submit" value="Más información"/>
					</form>
				</div>	
			</div>
		</div>
		
	</div>
	
</div>	

<div th:if="${proyectos.size == 0}" class="mb-4">
	<h5 th:if="${session.usuario == null}" class="display-5 text-center m-5">No hay ningún proyecto todavía. ¡Regístrate y crea el tuyo!</h5>
	<h5 th:if="${session.usuario != null}" class="display-5 text-center m-5">No hay ningún proyecto todavía. ¡Crea el tuyo ahora!</h5>
</div>

<script src="/js/efectos.js"></script>
