<div class="container">
	
	<div class="row mb-4">
		<div class="col-xl-7 col-lg-6 col-md-12 col-sm-12 col-12">
			<h1 class="font-weight-light" th:text="|Buscar: '${busqueda}'|"></h1>
		</div>
	</div>
	
</div>

<div th:if="${proyectos.size > 0}" class="container p-4">

	<div class="row ml-3 d-flex justify-content-between">
		<form class="search-container" action="/search">
			<input id="search-box" type="text" class="search-box" placeholder="Nombre del proyecto" name="nombre"
				title="Buscar proyectos por nombre" />
			<label for="search-box"><span class="search-icon"><i class="bi bi-search"></i></span></label>
			<input type="submit" id="search-submit" />
		</form>

		<div class="d-flex justify-content-end">
			<div id="finalizadosSwitch" class="custom-control custom-switch finalizados align-self-center mr-3">
				<input type="checkbox" class="custom-control-input" id="customSwitch1">
				<label class="custom-control-label" for="customSwitch1">Finalizados</label>
			</div>
			<div>
				<ul class="nav nav-pills" id="pills-tab" role="tablist">
					<li class="nav-item" role="presentation">
						<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#grid" role="tab"
							aria-controls="pills-home" aria-selected="true"><i class="bi bi-grid-3x2-gap"></i></a>
					</li>
					<li class="nav-item" role="presentation">
						<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#list" role="tab"
							aria-controls="pills-profile" aria-selected="false"><i class="bi bi-view-stacked"></i></a>
					</li>
				</ul>
			</div>
		</div>

	</div>

	<hr class="mb-3" />

	<div class="tab-content" id="proyectos">
		<div class="tab-pane fade show active" id="grid" role="tabpanel" aria-labelledby="pills-home-tab">
			<div class="card-columns" id="cardsGrid">
				<th:block th:each="proyecto : ${proyectos}">
					<div th:class="${proyecto.isEnded ? 'proyectoFinalizado card m-3 mb-4' : 'card escalar m-3 mb-4'}"
						style="width: 18rem;" data-label="Finalizado">
						<div class="card-body">
							<img th:unless="${proyecto.leader?.id == null}" class="imagenNavbar float-right"
								th:src="|/img/profile/${proyecto.leader?.imagen}|" th:alt="${proyecto.leader?.nick}"
								th:title="${proyecto.leader?.nick}">
							<h5 class="card-title" th:text="${proyecto.nombre}"></h5>
							<p class="card-text" th:text="${proyecto.descripcion}"></p>
							<div class="d-flex justify-content-between">
								<form action="/project/view">
									<input type="hidden" name="idProyecto" th:value="${proyecto.id}" />
									<input class="btn btn-info text-right" type="submit" value="Más información" />
								</form>
								<h6 th:if="${proyecto.isEnded}" class="tx-bad align-self-end endRibbon">Finalizado</h6>
							</div>
						</div>
					</div>
				</th:block>
			</div>
		</div>

		<div class="tab-pane fade" id="list" role="tabpanel" aria-labelledby="pills-profile-tab">
			<th:block th:each="proyecto : ${proyectos}">
				<div th:class="${proyecto.isEnded ? 'proyectoFinalizado card m-3 mb-4' : 'card escalar m-3' }"
					id="cardsList">
					<div class="card-body">
						<label class="float-right">
							<th:block th:text="${proyecto.leader?.nick}"></th:block>
							<img th:unless="${proyecto.leader?.id == null}" class="imagenNavbar ml-2"
								th:src="|/img/profile/${proyecto.leader?.imagen}|" th:alt="${proyecto.leader?.nick}"
								th:title="${proyecto.leader?.nick}">
						</label>
						<h5 class="card-title" th:text="${proyecto.nombre}"></h5>
						<p class="card-text" th:text="${proyecto.descripcion}"></p>
						<div class="d-flex justify-content-between">
							<form action="/project/view">
								<input type="hidden" name="idProyecto" th:value="${proyecto.id}" />
								<input class="btn btn-info" type="submit" value="Más información" />
							</form>
							<h6 th:if="${proyecto.isEnded}" class=" tx-bad align-self-end">Proyecto finalizado</h6>
						</div>
					</div>
				</div>
			</th:block>
		</div>

	</div>

</div>

<div th:if="${proyectos.size == 0}" class="mb-4">
	<h5 th:if="${session.usuario == null}" class="display-5 text-center m-5">Los criterios de búsqueda no coinciden con ningún proyecto de Teafind. ¡Puedes registrarte y crear el tuyo!</h5>
	<h5 th:if="${session.usuario != null}" class="display-5 text-center m-5">Los criterios de búsqueda no coinciden con ningún proyecto de Teafind.</h5>
</div>

<script src="/js/efectos.js"></script>