<div class="mb-5 team">
	<div class="container">
		<div class="row justify-content-center mb-4">
			<div class="col-md-7 text-center">
				<img class="img-fluid logoTeam mb-3" src="/img/logo.png" />
				<h3 class="mb-3">El equipo de Teafind</h3>
				<h6 class="subtitle">Teafind está integramente desarrollado por un equipo de 3 programadores,
					estudiantes de Técnico Superior de Desarrollo de Aplicaciones Web</h6>
			</div>
		</div>
		<div class="row mb-3">
			<!-- column  -->
			<div class="col-lg-4">
				<!-- Row -->
				<div class="row">
					<div class="col-md-12 d-flex justify-content-center containerTeamPic">
						<img src="/img/team/jorge.jpg"
							alt="wrapkit" class="img-fluid rounded-circle teamPic" />
					</div>
					<div class="col-md-12 text-center">
						<div class="pt-2">
							<h5 class="mt-4 font-weight-medium mb-0">Jorge Asensio</h5>
							<h6 class="subtitle mb-3">Desarrollador web</h6>
							<p>Entusiasta del mundo tecnológico. Adaptable a cualquier situación.</p>
							<ul class="list-inline">
								<li class="list-inline-item"><a target="_blank"
									href="https://www.linkedin.com/in/jorge-asensio-alvarez-781a59241/"
									class="text-decoration-none d-block px-1"><i class="bi bi-linkedin"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Row -->
			</div>
			<!-- column  -->
			<!-- column  -->
			<div class="col-lg-4">
				<!-- Row -->
				<div class="row">
					<div class="col-md-12 d-flex justify-content-center">
						<img src="/img/team/Chapa.jpg" alt="wrapkit" class="img-fluid rounded-circle teamPic" />
					</div>
					<div class="col-md-12 text-center">
						<div class="pt-2">
							<h5 class="mt-4 font-weight-medium mb-0">Cristian Chaparro</h5>
							<h6 class="subtitle mb-3">Desarrollador web</h6>
							<p>Apasionado de la tecnología y del desarrollo. El Front-End es su fuerte.</p>
							<ul class="list-inline">
								<li class="list-inline-item"><a target="_blank" href="https://twitter.com/Chapa_03"
										class="text-decoration-none d-block px-1"><i class="bi bi-twitter"></i></a></li>
								<li class="list-inline-item"><a target="_blank" href="https://www.instagram.com/chapa03"
										class="text-decoration-none d-block px-1"><i class="bi bi-instagram"></i></a>
								</li>
								<li class="list-inline-item"><a target="_blank"
										href="https://www.linkedin.com/in/chaparro/"
										class="text-decoration-none d-block px-1"><i class="bi bi-linkedin"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Row -->
			</div>
			<!-- column  -->
			<!-- column  -->
			<div class="col-lg-4">
				<!-- Row -->
				<div class="row">
					<div class="col-md-12 d-flex justify-content-center">
						<img src="/img/team/alex.jpeg"
							alt="wrapkit" class="img-fluid rounded-circle teamPic" />
					</div>
					<div class="col-md-12 text-center">
						<div class="pt-2">
							<h5 class="mt-4 font-weight-medium mb-0">Alejandro Asensio</h5>
							<h6 class="subtitle mb-3">Desarrollador web</h6>
							<p>Aficionado del desarrollo web. El Back-End es su fuerte.</p>
							<ul class="list-inline">
								<li class="list-inline-item"><a target="_blank" href="https://www.linkedin.com/in/alejandro-asensio-%C3%A1lvarez-194083242/"
										class="text-decoration-none d-block px-1"><i class="bi bi-linkedin"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Row -->
			</div>
			<!-- column  -->
		</div>
	</div>
</div>